*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
 }
 body{
     background-color: #24272E;
 }
 header{
     background: #ffffff; 
     padding: 20px;
 }

 
 header h1{
     color: #24272E;
     text-align: center;
     font-family:Georgia, 'Times New Roman', sans-serif;
     font-size: 50px;
 }
 .description{
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
 }
 .score-board{

     margin: 20px auto;
     border:3px solid white;
     border-radius: 4px;
     text-align: center;
     width: 200px;
     color: white;
     font-size:46px ;
     padding: 15px 20px;
     font-family: Georgia, 'Times New Roman', sans-serif;
     position: relative;

 }
 .badge{
     background:#E25840 ;
     color: white;
     font-size: 14px;
     padding: 2px 10px ;
     font-family: Georgia, 'Times New Roman', sans-serif;

 }

 #user{
     position:absolute;
     top: 30px;
     left:-25px;
     
 }
 #computer{
    position:absolute;
    top: 30px;
    right:-50px;
 }

 .resultat{
     font-size: 40px;
     color: white;
 }
 .resultat p{
     text-align: center;
     font-weight: bold;
     font-family: Georgia, 'Times New Roman', sans-serif;
 }

.choices{
    margin-top: 50px;
    text-align: center;
}

 .choix{
     display: inline-block;
     border: 4px solid white;
     border-radius: 50%;
     padding: 50px;
     margin: 100px;
     margin-right: 160px;
     transition: all 0.3s ease;
 }

 .choix :hover{
     cursor: pointer;
     background:#24272E;
 }

 #action-message{
     text-align: center;
     color: #ffffff;
     font-family: Georgia, 'Times New Roman', sans-serif;
     font-weight: bold;
     font-size: 20px;
     margin-top: 20px;

    }

    .green-glow {
        border:4px solid #4dcc7d;
        box-shadow: 0 0 10px #31b43a; 
    }
    .red-glow{
       border:4px solid #fc121b;
       box-shadow: 0 0 10px #d01115; 
    }
    .yellow-glow{
       border:4px solid yellow;
       box-shadow: 0 0 10px yellowgreen; 
    }
 
